$primary-color: #ffffff;

@font-face {
  font-family: 'GothamPro Regular';
  src: url('https://test.smarttender.biz/fonts/GothamPro.eot');
  src: local("GothamPro"), url('https://test.smarttender.biz/fonts/GothamPro.eot?#iefix')
  format("embedded-opentype"), url('https://test.smarttender.biz/fonts/GothamPro.woff2')
  format("woff2"), url('https://test.smarttender.biz/fonts/GothamPro.woff')
  format("woff"), url('https://test.smarttender.biz/fonts/GothamPro.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro Medium';
  src: url('https://test.smarttender.biz/fonts/GothamProMedium.eot');
  src: local("GothamProMedium"), url('https://test.smarttender.biz/fonts/GothamProMedium.eot?#iefix')
  format("embedded-opentype"), url('https://test.smarttender.biz/fonts/GothamProMedium.woff2')
  format("woff2"), url('https://test.smarttender.biz/fonts/GothamProMedium.woff')
  format("woff"), url('https://test.smarttender.biz/fonts/GothamProMedium.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: $primary-color;
  font-family: "GothamPro Regular", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

*::-webkit-scrollbar {
  background-color: #e9ecee;
  height: 10px;
  width: 8px;
  padding: 1px 0;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #adc0d3;
  cursor: pointer;
  margin: 1px 0;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #7A98B4;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #e9ecee;
  padding: 1px 0;
}


$table-cell-padding: 10px;
$table-header-bg: #f0f0f0;
$table-border-color: #ddd;
$table-header-border-color: #ccc;
$table-row-bg: #fff;
$table-gap: 1px;
$table-border-radius: 2px;
$tree-checked-size: 16px;

$tree-row-background: #FAFBFF;
$tree-row-background-focus: #EDF2F7;
$tree-row-background-select: #DFFBD2;
$tree-row-background-select-focus: #c0efa9;
$tree-row-background-finded: #E0F0FF;
$tree-row-background-finded-focus: #bedcf7;

$margin-children: 18px;

$col1-width: 110px;
$col1-not-select-width: 80px;
$col2-width: 150px;
$col3-width: auto;

.tree {
  &-header {
    display: grid;
    grid-template-columns: $col1-width $col2-width $col3-width;
    gap: $table-gap;
    //padding: 2px 10px;
    border: 1px solid $table-header-bg;
    //background-color: $table-header-bg;
    border-radius: $table-border-radius $table-border-radius 0 0;
    &.not-select {
      grid-template-columns: $col1-not-select-width $col2-width $col3-width;
    }

    &_cell {
      background-color: #F4F6F5;
      align-items: center;
      color: #4A4A4A;
      display: flex;
      padding-left: 10px;
      font-size: 12px;
      font-weight: 700;
      height: 42px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-rows {
    box-shadow: 0 0 1px 0 #c2c2c2;
    height: 300px;
    overflow-y: auto;
    gap: 2px;
    display: grid;
    border-radius: 0 0 $table-border-radius $table-border-radius;

    background-color: white;
  }

  &-row {
    display: grid;
    border-radius: 0 0 $table-border-radius $table-border-radius;
    margin-left: calc(var(--level) * $margin-children);
    grid-template-columns: calc(110px - (var(--level) * $margin-children)) $col2-width $col3-width;
    gap: 1px;
    background: $tree-row-background;
    padding: 7px 10px;
    transition: 0.25s all;

    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.not-select {
      grid-template-columns: $col1-not-select-width $col2-width $col3-width;
    }
    &_actions {
      display: flex;
    }
    &_cell {
      padding: $table-cell-padding;
      background-color: $table-row-bg;
      border: 1px solid $table-border-color;
      width: var(--width, auto); // Ширина через переменную
    }
    &.is-checked {
      background: $tree-row-background-select;
      &:hover,
      &:focus {
        background: $tree-row-background-select-focus;
      }
    }
    &.is-finded {
      background: $tree-row-background-finded;
      &:hover,
      &:focus {
        background: $tree-row-background-finded-focus;
      }

    }
    &:hover,
    &:focus {
      background: $tree-row-background-focus;
    }
  }
  &-info {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 0 1px 0 #c2c2c2;
    height: 300px;
    overflow-y: auto;
    background-color: white;
    border-radius: 0 0 $table-border-radius $table-border-radius;
    &_text {
      margin: auto;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
  }

  &-search {
    &_input {
      width: 100%;
      position: relative;
      border-radius: 27px;
      display: flex;
      border: 1px solid #adc0d3;
      &-icon {
        margin: auto 0 auto 12px;
      }
      &-clear {
        cursor: pointer;
        margin: auto 10px auto 0;
      }
      input {
        width: 100%;
        height: 32px;
        outline: none;
        line-height: 0;
        font-size: 14px;
        padding: 3px 15px;
        color: #4A4A4A;
        background: #FFF;
        box-sizing: border-box;
        border-radius: 27px;
        border: transparent;
      }
      &:hover,
      &:focus,
      &.has-value {
        border: 1px solid #6AB42D;
      }
    }
    &_button {
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      transition: 0.25s all;
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
    &_result {
      font-size: 16px;
      align-items: center;
      display: flex;
      height: 24px;
      width: 100%;
    }
    &.is-disabled {
      &_button {
        opacity: 0.5;
      }
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    &_item {
      align-items: center;
      background: #e1ebf4;
      border-radius: 30px;
      display: flex;
      height: -moz-max-content;
      height: max-content;
      justify-content: space-between;
      margin: 5px 12px 5px 0;
      max-width: 250px;
      padding: 3px 2px 3px 10px;
      position: relative;
      &-content {
        font-size: 12px;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 10px;
      }
      &-clear {
        background: #adc0d3;
        height: 16px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.checked {
  &:not(.is-blank) {
    aspect-ratio: 1 / 1;
    cursor: pointer;
    height: $tree-checked-size;
    border: 1px solid #6ab42d;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    &:after {
      display: block;
      margin: 2px;;
      content: '';
      aspect-ratio: 1 / 1;
      border-radius: 2px;
      max-height: calc($tree-checked-size - 4px);
      background: #6ab42d;
      transition: .3s;
      overflow: hidden;
      transform: scale(0);
    }
    &.is-active:after {
      transform: scale(1);
    }
    &.is-disabled {
      background: #eeeded;
      cursor: not-allowed;
      opacity: .5;
    }
  }
  &.is-blank {
    width: 18px;
  }
}

.expanded {
  margin: auto 0 auto 9px;
  &:not(.is-blank) {
    transition: all 0.3s ease;
    cursor: pointer;
    align-items: center;
    display: flex;
    &.is-active {
      transform: rotate(90deg);
    }
  }
  &.is-blank {
    border-color: transparent;
  }
  &.is-disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}
